
body
	+reset
	display: block
	font-family: "Share Tech Mono"
	background: #000
	color: #5b7

h1
	font-family: "Faster One"
	font-weight: 400

.left
	float: left
.text-left
	text-align: left
.right
	float: right
.text-right
	text-align: right
