#game
	position: fixed
	top: 0px
	left: 0px
	right: 0px
	bottom: 100px
	background-size: cover
	#ship
		position: fixed
		transform: rotate(0deg)
	.asteroid
		position: fixed
		transform: rotate(0deg)
		background-position: center
		background-repeat: no-repeat
	#chord
		font-size: x-large
		padding: 10px
	#score
		padding-left: 10px
		font-size: x-large
	#lifes
		padding-left: 10px
		font-size: x-large
