#game
	position: fixed
	top: 52px
	width: 512px
	height: 512px
	left: 50%
	margin-left: -256px
	background-image: url('../assets/img/BAckground.png')
	background-size: cover
	#ship
		position: fixed
		top: 50%
		left: 50%
		margin-top: -32px
		margin-left: -32px
		// transition: transform .4s
		transform: rotate(0deg)
	.asteroid
		position: fixed
		transform: rotate(0deg)
		background-image: url('../assets/img/Asteroid_01.png')
		background-position: 0 0
		background-clip: content-box
	#chord
		font-size: x-large
		padding: 10px
	#score
		padding-left: 10px
		font-size: x-large
